
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root{
 --green:#3FD2C7;
 --lightblue:#99DDFF;
 --darkblue:#00458B;
}

html{
    scroll-behavior: smooth;
}
body{
    background-color: white;

}


 h1 {
    text-align: center;
    /* margin-bottom: 16px; */
    /* margin-top: 16px; */
}
ul{
    font-size: 20px;
    margin-top: 16px;
    margin-bottom:16px;
    }
.program{
   width: 1024px;
   max-width: 1024px;
   background-color: var(--lightblue);
  margin: 0 auto;
}

.program ul{
   margin: 0;
   padding:0;
}
.program ul li{
    list-style: none;
}
.order-of-the-day{
    padding-left:5%;
    margin: 0 auto;
    width: 1024px;
    max-width: 1024px;
}

.order-of-the-day ul li{
    list-style: none;
}

h2{
    margin-top: 16px;
   color:darkred;
}


.order-of-the-day ul li ul{
   margin-top:8px;
   margin-bottom: 8px;
   margin-left: 20px;
  
}
.order-of-the-day ul li ul li{
   list-style: circle;
   
 }
 
 footer{
    background-color: var(--darkblue);
    text-align: center;
    padding:20px;
    color:white;
    font-size: 2vh;
    /* margin-top: 16px; */
 }

 div{
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 32px; 
    padding-bottom:16px;
 }

 .mcb{
    background-color:var(--lightblue);
    padding-top:64px;
    /* padding-bottom: 32px; */
    margin: 0 auto;
    width: 1024px;
    max-width: 1024px;
 }

 .msb{

/* padding-top:8px; */
/* padding-bottom: 32px; */
width: 1024px;
max-width: 1024px;
margin: 0 auto;


 }
 .msb ul li{
    list-style: none;
    list-style-type: decimal;
 }
 .msb ul li ul li{
    list-style-type: circle;
    margin-left: 16px;
    margin-bottom: 4px;
 }
.dab{
    
    padding-top:32px;
    padding-bottom: 32px;
    width: 1024px;
    max-width: 1024px;
    max-width: 1024px;
    margin: 0 auto;
    padding-left: 90px;
    padding-right: 90px;
  

}
.dab ul{
   padding-left: 15px;
   padding-right: 15px
}
.dab h1{
   margin-top:32px;
   margin-bottom: 64px;
}
.cr{
    padding-top:32px;
    padding-bottom:16px;
   
}
.cr p{
    font-size:3.2vh;
 }
 .cr ul li{
    margin-bottom: 8px;
    list-style-type: decimal;
 }
 .nom{

   padding-top:32px;
   padding-bottom:32px;
   width: 90%;
   margin: 0 auto;
 }

 li{
        list-style-type: decimal;
 }
 li ul li{
    list-style-type: circle;
 }
 li ul {
    padding-left: 16px;
 }
 nav{

    top:0;
    padding-left: 16px;
    padding-right:64px;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    /* height: auto; */
    height: 65px;
    background-color:var(--darkblue);
    
 }

 
 nav ul{
    display: flex;
    gap: 10px;
    font-size:12px;

 }
 nav ul li{
    list-style: none;
 }  

   
   
 

 nav ul li a{
    text-decoration: none;
    color:white;
 }
 nav ul li a:hover{
    color: var(--lightblue);
    transition: all 0.2s;
 }
 

 nav button{
    display: none;
 }
 .logo a{
    text-decoration: none;
    color:white;
 }



#journal-list li {
    list-style-type:lower-alpha;
}

.ds{
   background-color: var(--lightblue);
   padding-left:90px;
   padding-right:90px;
   padding-bottom: 70px;
   width: 1024px;
   max-width: 1024px;
   margin: 0 auto;

}
.ds h1{
   margin-bottom: 64px;
}
.hero-img{
   width: 100%;
       }


.aud{
 
   padding-bottom: 32px;
   
 
}
.tre{
   background-color: var(--lightblue);

}
.tre img{
   width: 100%;

}
.tre h1{
   margin-bottom: 32px;
}
.fin{
   background-color: var(--lightblue);
   padding-top: 0;
   /* padding-left:90px;
   padding-right:90px; */
   padding-bottom: 64px;
}
.fin h1{
   margin:0;
}
.care{
   background-color: var(--lightblue);
}
.care h2{
   padding: 0;
}
#car{
   margin: 0;
}
.mem{
   background-color: var(--lightblue);
}
.act{
   background-color: var(--lightblue);
}
.hero img{
   width: 100%;
}
@media only screen and (max-width: 600px) {
    nav{
        padding-right: 32px;
    }
    nav ul{
        
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        background-color: var(--darkblue);
        position: absolute;
        right: -180px;
        top:47px;
        width:180px;
        padding:20px;
        transition: all 0.2s;
    }
  
    .menuBtn{
        display: block;
        padding:5px 10px 5px 10px;
     }
    
     .active{
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        background-color:var(--darkblue);
        position: absolute;
        right: 0px;
        top:47px;
        width:180px;
        padding:20px;
        transition: all 0.2s;
        
     }
     .links{
        display: block;
     }
    
    
    .program{
        width: 100%;
        height: auto;
        padding-left:5%;
        padding-right:5%
    
    }
    .program h3{
        font-size: 2.5vh;
    }
    ul{
        margin-top: 18px;
        font-size: 2vh;
    }
   
    .order-of-the-day{
        width: 100%;
        height: auto;
    }
    
    h1{
        font-size: 2.7vh;
     }
     h2{
        font-size: 2vh;
        color:darkred;
     }
    .msb ul{
        padding-left:8px
    }
     .msb ul li{
        margin-bottom: 8px;
        list-style-type: decimal;
     }

     p{
        font-size: 2vh;
     }

     .cr p{
        font-size:2.1vh;
     }

    ul{
        padding-left:8px;
     }  

    
    .ds{
      width: 100%;
      padding-left:20px;
      padding-right:20px;
      text-align: justify;
      font-size: 4vh;
    }
    .dab{
      width: 100%;
      padding-left:20px;
      padding-right:20px;
    }
    .mcb{
      width: 100%;
    }
    .msb{
      width: 100%;
    }
    .hero-img{
      display: none;
          }
   .hero{
      background-image: url('./hero.jpg');
      height: 100vh;
      width: 100%;

      background-size: cover;
      /* margin-top: 64px; */
   }
   .nom{
      width:100%;
   }

   .aud{
      width: 100%;
   }
   .tre{
     
      width: 100%;
    
   }


 
 
}


