
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root{
 --green:#3FD2C7;
 --lightblue:#99DDFF;
 --darkblue:#00458B;
}

html{
    scroll-behavior: smooth;
}
body{
    background-color: white;

}
.hero{
    width: 100%;
    margin-top: 18px;

   
}
.hero-img{
    width: 100%;
}

 h1 {
    text-align: center;
    margin-bottom: 16px;
    /* margin-top: 16px; */
}
ul{
    font-size: 20px;
    margin-top: 16px;
    margin-bottom:16px;
    }
.program ul li{
    list-style: none;
}
.order-of-the-day{
    padding-left:5%;
}

.order-of-the-day ul li{
    list-style: none;
}

h2{
    margin-top: 16px;
   color:darkred;
}


.order-of-the-day ul li ul{
   margin-top:8px;
   margin-bottom: 8px;
   margin-left: 20px;
  
}
.order-of-the-day ul li ul li{
   list-style: circle;
   
 }
 footer{
    background-color: darkorange;
    text-align: center;
    padding:20px;
    /* margin-top: 16px; */
    
 }

 div{
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 32px; 
    padding-bottom:16px;
 }

 .mcb{
    background-color:var(--green);
    padding-top:8px;
    padding-bottom: 32px;
 }

 .msb{
background-color: rgb(117, 208, 211);
padding-top:8px;
padding-bottom: 32px;

 }
 .msb ul li{
    list-style: none;
    list-style-type: decimal;
 }
 .msb ul li ul li{
    list-style-type: circle;
    margin-left: 16px;
    margin-bottom: 4px;
 }
.dab{
    background-color: var(--lightblue);
    margin-top:-16px;
    padding-top:32px;
    padding-bottom: 32px;

}
.cr{
    padding-top:32px;
    padding-bottom:16px;
    background-color: rgb(117, 208, 211);
}
.cr p{
    font-size:3.2vh;
 }
 .cr ul li{
    margin-bottom: 8px;
    list-style-type: decimal;
 }
 .nom{
    background-color: lightblue;
    padding-top:32px;
    padding-bottom:32px;
 }

 li{
        list-style-type: decimal;
 }
 li ul li{
    list-style-type: circle;
 }
 li ul {
    padding-left: 16px;
 }
 nav{

    top:0;
    padding-left: 16px;
    padding-right:64px;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    /* height: auto; */
    height: 65px;
    background-color:var(--darkblue);
    
 }

 
 nav ul{
    display: flex;
    gap: 10px;
    font-size:12px;

 }
 nav ul li{
    list-style: none;
 }  

   
   
 

 nav ul li a{
    text-decoration: none;
    color:white;
 }
 nav ul li a:hover{
    color: var(--lightblue);
    transition: all 0.2s;
 }
 

 nav button{
    display: none;
 }
 .logo a{
    text-decoration: none;
    color:white;
 }

 #mcb{
    background-color:lightblue;
 }
 #msb{
    background-color: rgb(117, 208, 211);
 }


@media only screen and (max-width: 600px) {
    nav{
        padding-right: 32px;
    }
    nav ul{
        
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        background-color: var(--darkblue);
        position: absolute;
        right: -180px;
        top:47px;
        width:180px;
        padding:20px;
        transition: all 0.2s;
    }
  
    .menuBtn{
        display: block;
        padding:5px 10px 5px 10px;
     }
    
     .active{
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        background-color:var(--darkblue);
        position: absolute;
        right: 0px;
        top:47px;
        width:180px;
        padding:20px;
        transition: all 0.2s;
        
     }
     .links{
        display: block;
     }
    
    
    .program{
        width: 100%;
        height: auto;
        padding-left:5%;
        padding-right:5%
    
    }
    .program h3{
        font-size: 2.5vh;
    }
    ul{
        margin-top: 18px;
        font-size: 2vh;
    }
   
    .order-of-the-day{
        width: 100%;
        height: auto;
    }
    footer{
        background-color: var(--darkblue);
        text-align: center;
        padding:20px;
        font-size: 2vh;
        margin-top: 0;
        color: white;
        
     }
     h1{
        font-size: 2.7vh;
     }
     h2{
        font-size: 2vh;
        color:darkred;
     }
    .msb ul{
        padding-left:8px
    }
     .msb ul li{
        margin-bottom: 8px;
        list-style-type: decimal;
        
     }
     p{
        font-size: 2vh;
     }
     .cr p{
        font-size:2.1vh;

     }
   
    ul{
        padding-left:8px;
     }  

    
    
    
     

 
 
}


